<div id="PostItem">
    <div id="PostTitle">
        {{#if newPost}} 
            <h3 class="PostTitleData">Create New Post</h3>
        {{else}}
            <h3 class="PostTitleData">Edit Post</h3>  
        {{/if}}         
    </div>
    <div id="PostInput"></div>
    <p class="PostHeader1">Title</p>

    {{#if newPost}} 
        <input type="text" id="txtTitle" class="LoginText">
    {{else}}        
        <input type="text" id="txtTitle" class="LoginText" value="{{blogItem.title}}">
    {{/if}}      

    <p class="PostHeader2">Content</p>

    {{#if newPost}}     
        <textarea id="PostCommentTextbox" rows="4" cols="50"></textarea>  
    {{else}}
        <textarea id="PostCommentTextbox" rows="4" cols="50">{{blogItem.content}}</textarea>      
    {{/if}}                

    {{#if newPost}}             
        <button class="btnPost" type="button" id="btnPostCreate">Create</button>    
    {{else}}        
        <button class="btnPost" type="button" id="btnPostUpdate">Update Post</button>  
        <button class="btnPost" type="button" id="btnPostDelete">Delete</button>                                
    {{/if}}             
</div>   

<!-- Save the blog id and user id values so have them on the client side. -->
<input type="hidden" id="blogid" value="{{blogItem.id}}">
<input type="hidden" id="userid" value="{{blogItem.user.id}}">        



