
<!-- ************************************************************************** 
     Had to set this up this way with #each statments with #if statements.
     I could not get it to work the other way around with #if statements inside
     one #each statement.
******************************************************************************** -->     

{{#if loggedIn}}

    {{#each blogs as |blog|}} 
        <div id="blog_item">
            <div id="blog_title">
                <a id="blog_link" href="/comment/0/{{blog.id}}"><h3 id="title_data">{{blog.title}}</h3></a> 
                <p id="posted_data">Posted by {{blog.user.name}} on {{blog.dateposted}}</p>
            </div>

            <p id="blog_content">{{{blog.content}}}</p>
        </div>

        <!-- Save the blog id and user id values so have them on the client side. -->
        <input type="hidden" id="blogid" value="{{blog.id}}">
        <input type="hidden" id="userid" value="{{blog.user.id}}">        
    {{/each}} 

{{else}}

    {{#each blogs as |blog|}} 
        <div id="blog_item">
            <div id="blog_title">
                <h3 id="title_data">{{blog.title}}</h3>
                <p id="posted_data">Posted by {{blog.user.name}} on {{blog.dateposted}}</p>
            </div>

            <p id="blog_content">{{{blog.content}}}</p>
        </div>

       <!-- Save the blog id and user id values so have them on the client side. -->
        <input type="hidden" id="blogid" value="{{blog.id}}">
        <input type="hidden" id="userid" value="{{blog.user.id}}">                
    {{/each}} 

{{/if}}

 








 




